<agm-map
  [latitude]="lat"
  [longitude]="lng"
  [zoom]="zoom"
  [zoomControl]="false"
  [maxZoom]="20"
  [minZoom]="16"
  [disableDoubleClickZoom]="true"
  [scrollwheel]="false"
  [fullscreenControl]="true"
  (mapClick)="click($event)"
>
  <agm-polyline>
    <agm-polyline-point
      *ngFor="let point of path"
      [latitude]="point.lat"
      [longitude]="point.lng"
    >
    </agm-polyline-point>
  </agm-polyline>
</agm-map>
