<div class="controls">
  <button
    type="button"
    mat-stroked-button
    color="primary"
    (click)="clearPath()"
  >
    Clear
  </button>
  <button
    type="button"
    mat-flat-button
    color="primary"
    class="float-right"
    (click)="savePath()"
  >
    Save/New
  </button>
</div>
