<mat-action-list>
  <mat-list-item
    *ngFor="let plan of plans; index as index"
    (click)="loadPlan(index)"
  >
    <mat-icon matListIcon>flight</mat-icon>
    <h3 matLine>{{ index + 1 }}</h3>
    <button mat-icon-button>
      <mat-icon (click)="deletePlan(index)">delete</mat-icon>
    </button>
  </mat-list-item>
</mat-action-list>
