<fp-header></fp-header>

<mat-drawer-container class="drawer-container">
  <mat-drawer-content>
    <fp-controls (clear)="clearPath()" (save)="savePath()"></fp-controls>
    <fp-gmap [path]="path" (mapClick)="click($event)"></fp-gmap>
  </mat-drawer-content>

  <mat-drawer mode="side" position="end" opened class="drawer-sidenav">
    <fp-list-plans
      [plans]="plans"
      (display)="loadPlan($event)"
      (remove)="deletePlan($event)"
    ></fp-list-plans>
  </mat-drawer>
</mat-drawer-container>
